dj-database-url==0.3.0
dj-static==0.0.6
Django==1.7.7
django-autoslug==1.7.2
django-cors-headers==0.13
django-extensions==1.4.6
django-toolbelt==0.0.1
djangorestframework==3.1.0
gunicorn==19.2.1
inflection==0.3.0
prettyprint==0.1.5
psycopg2==2.5.4
-e git+https://github.com/django-json-api/rest_framework_ember.git@be4a9c2b5ea608d1a838633ad593bf70249dd1a9#egg=rest_framework_ember-master
six==1.8.0
static3==0.5.1
