{% extends "freehtml5buildings/base.html" %}
{% load staticfiles %}


    {% block menubar %}
	<nav>
	  <div id="menubar">
        <ul id="nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="advanceSearch.html">Advanced Search</a></li>
        <li class="current">
            <a href="stats.html">Stats</a>
        </li>
        <li >
                <a href="methods.html">Methods</a>
            </li>
        <li>
            <a href="links.html">Links</a>
        </li>
        </ul>
      </div><!--close menubar-->	
    </nav>	
    {% endblock %}

{% block content %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawCharts);
    
    function drawCharts(){
        //Set SPECIES data.
        var speciesChartData = google.visualization.arrayToDataTable([
          ['TypeOfDataSet', 'NumberOfDataSetsInDatabase'],
          ['Homo Sapiens',     {{numberOfHomoSapienDataSets}}],
          ['Rattus', {{numberOfRattusDataSets}}],
          ['Mus Mus', {{numberOfMusMusDataSets}}],
          ['Bovine', {{numberOfBovineDataSets}}],
          ['Other Primates', {{numberOfOtherPrimatesDataSets}}]
        ]);
        var speciesChartOptions = {
          title: 'Species Datasets',
          backgroundColor: 'transparent',
          is3D: true,
          fontSize:18,
          fontName:"Lucida Sans Unicode",
          slices: {
                0: { color: '#7b9e00' },
                1: { color: '#3e403f' },
                2: { color: '#accf34' },
                3: { color: '#506700' },
                4: { color: '#000' }
              }
        };
        function speciesChartSelectHandler() {
            var selectedItem = speciesChart.getSelection()[0];
            if (selectedItem) {
                
                //alert('row:'+selectedItem.row+", column:"+selectedItem.column);
                var dataSet = speciesChartData.getValue(selectedItem.row, 0);
                
                var form = document.getElementById('hiddenDataSetForm')
                form.method ='POST';
                form.action ='results.html';
                
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name ='Species'
                input.value = dataSet;
                form.appendChild(input);
                form.submit();
            }
        }
        
        
        //Set TISSUES data.
        var tissuesChartData = google.visualization.arrayToDataTable([
          ['TypeOfDataSet', 'NumberOfDataSetsInDatabase'],
          ['Blood',     {{numberOfBloodDataSets}}],
          ['Bone', {{numberOfBoneDataSets}}],
          ['Brain', {{numberOfBrainDataSets}}],
          ['Brown Fat', {{numberOfBrownFatDataSets}}],
          ['Eye', {{numberOfEyeDataSets}}],
          ['Heart', {{numberOfHeartDataSets}}],
          ['Kidney', {{numberOfKidneyDataSets}}],
          ['Liver', {{numberOfLiverDataSets}}],
          ['Lower GI', {{numberOfLowerGIDataSets}}],
          ['Lung', {{numberOfLungDataSets}}],
          ['Lymph', {{numberOfLymphDataSets}}],
          ['Mammary Gland', {{numberOfMammaryGlandDataSets}}],
          ['Ovary', {{numberOfOvaryDataSets}}],
          ['Pancreas', {{numberOfPancreasDataSets}}],
          ['Prostate', {{numberOfProstateDataSets}}],
          ['Skeletal Muscle', {{numberOfSkeletalMuscleDataSets}}],
          ['Spleen', {{numberOfSpleenDataSets}}],
          ['Stomach', {{numberOfStomachDataSets}}],
          ['Tendon', {{numberOfTendonDataSets}}],
          ['Testis', {{numberOfTestisDataSets}}],
          ['Thyroid', {{numberOfThyroidDataSets}}],
          ['Urine', {{numberOfUrineDataSets}}],
          ['Uterus', {{numberOfUterusDataSets}}],
          ['White Fat', {{numberOfWhiteFatDataSets}}]
          ]);
        var tissuesChartOptions = {
        title: 'Tissue Datasets',
          backgroundColor: 'transparent',
          is3D: true,
          fontSize:18,
          fontName:"Lucida Sans Unicode",
          slices: {
                0: { color: '#FFBF40' },
                1: { color: '#FFAA00' },
                2: { color: '#BF8F30' },
                3: { color: '#A66F00' },
                4: { color: '#FFD300' },
                5: { color: '#FFDE40' },
                6: { color: '#FF7400' },
                7: { color: '#FF9640' },
                8: { color: '#A64B00' },
                9: { color: '#FF0000' },
                10: { color: '#1240AB' },
                11: { color: '#4671D5' },
                12: { color: '#6C8CD5' },
                13: { color: '#06266F' },
                14: { color: '#A60000' },
                15: { color: '#CD0074' },
                16: { color: '#E6399B' },
                17: { color: '#85004B' },
                18: { color: '#00CC00' },
                19: { color: '#67E667' },
                20: { color: '#008500' },
                21: { color: '#BF3030' },
                22: { color: '#9FEE00' },
                23: { color: '#C9F76F' },
                24: { color: '#E667AF' },
                25: { color: '#000' }
              }
        };

        function tissuesChartSelectHandler() {
            var selectedItem = tissuesChart.getSelection()[0];
            if (selectedItem) {
                
                //alert('row:'+selectedItem.row+", column:"+selectedItem.column);
                var dataSet = tissuesChartData.getValue(selectedItem.row, 0);
                
                var form = document.getElementById('hiddenDataSetForm')
                form.method ='POST';
                form.action ='results.html';
                
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name ='Tissues'
                input.value = dataSet;
                form.appendChild(input);
                form.submit();
            }
        }
        
        //Set GENE TYPE data.
        var geneTypeChartData = google.visualization.arrayToDataTable([
          ['TypeOfDataSet', 'NumberOfDataSetsInDatabase'],
          ['COL Mod',     {{numberOfColModDataSets}}],
          ['Collagens', {{numberOfCollagensDataSets}}],
          ['ECM Glycoproteins', {{numberOfECMGlycoproteinsDataSets}}],
          ['ECM Regulators', {{numberOfECMRegulatorsDataSets}}],
          ['ECM-affiliated Proteins', {{numberOfECMAffiliatedProteinsDataSets}}],
          ['Major Contaminants', {{numberOfMajorContaminantsDataSets}}],
          ['Proteoglycans', {{numberOfProteoglycansDataSets}}],
          ['Secreted Factors', {{numberOfSecretedFactorsDataSets}}]
          ]);
        var geneTypeChartOptions = {
        title: 'Gene Type Occurrences',
          backgroundColor: 'transparent',
          is3D: true,
          fontSize:18,
          fontName:"Lucida Sans Unicode",
          slices: {
                0: { color: '#028E9B' },
                1: { color: '#39E24D' },
                2: { color: '#1E6D74' },
                3: { color: '#476DD5' },
                4: { color: '#2B42B1' },
                5: { color: '#35C0CD' },
                6: { color: '#00C618' },
                7: { color: '#015C65' },
              }
        };

        function geneTypeChartSelectHandler() {
            var selectedItem = geneTypeChart.getSelection()[0];
            if (selectedItem) {
                
                //alert('row:'+selectedItem.row+", column:"+selectedItem.column);
                var dataSet = geneTypeChartData.getValue(selectedItem.row, 0);
                
                var form = document.getElementById('hiddenDataSetForm')
                form.method ='POST';
                form.action ='results.html';
                
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name ='GeneType'
                input.value = dataSet;
                form.appendChild(input);
                form.submit();
            }
        }
        
        var speciesChart = new google.visualization.PieChart(document.getElementById('species3DChart'));
        google.visualization.events.addListener(speciesChart, 'select', speciesChartSelectHandler);    
        speciesChart.draw(speciesChartData, speciesChartOptions);
        
        var tissuesChart = new google.visualization.PieChart(document.getElementById('tissues3DChart'));
        google.visualization.events.addListener(tissuesChart, 'select', tissuesChartSelectHandler);    
        tissuesChart.draw(tissuesChartData, tissuesChartOptions);
      
        
        var geneTypeChart = new google.visualization.PieChart(document.getElementById('geneType3DChart'));
        google.visualization.events.addListener(geneTypeChart, 'select', geneTypeChartSelectHandler);    
        geneTypeChart.draw(geneTypeChartData, geneTypeChartOptions);
        
    }
</script>

<form id="hiddenDataSetForm">
{% csrf_token %} 
<div class="content_item">
    <h1 class="pageHeader">Stats</h1>
</div>
<div >
    <div id="species3DChart" class="divPieChart"></div>
    <p></p>
    <div id="tissues3DChart" class="divPieChart"></div>
    <p></p>
    <div id="geneType3DChart" class="divPieChart"></div>
</div>
</form>
    
{% endblock %}